<a href="https://colab.research.google.com/github/VEvteev/ADevn/blob/main/Zadanie2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Практическая работа занятие 2 Модули (import). Условный оператор. Циклы. Функции

Ответы для первого варианта

*Задача* 1

In [ ]:
base_price = int(input())
growth_percent = int(input())
new_price = (base_price * (1 + (growth_percent / 100)))
delta = new_price - base_price
print ("new_price = ", new_price)
print ("delta = ", delta)

200
50
new_price =  300.0
delta =  100.0

Задача 2

In [ ]:
city_name = "Москва"
full_label = "Город " + city_name
orders_today = 1200
orders_yesterday = 950
total_orders = orders_today + orders_yesterday
print ("total_orders =", total_orders)
print ("full_label = ", full_label)
more_orders_today = orders_today >= orders_yesterday
print ("more_orders_today =", more_orders_today)
big_day = orders_today >=1000
print ("big_day =", big_day)

total_orders = 2150
full_label =  Город Москва
more_orders_today = True
big_day = True

Задача 3

In [ ]:
total_minutes = int(input("количество минут"))
houгse = total_minutes // 60
print ("hourse= ", houгse)
minutes = total_minutes % 60
print ("minutes= ", minutes)

количество минут135
hourse=  2
minutes=  15

Задача 4

In [ ]:
value_str = "42.7"
integer_part = int(float(value_str))
print ("integer_part =", integer_part)

integer_part = 42

Задача 5

In [ ]:
orders_yesterday = int(input("заказов сегодня"))
plan = int(input("план"))
abs_diff = abs (plan - orders_yesterday)
print ("report = Абсолютное отклонение от плана равняется", abs_diff)

заказов сегодня11
план5
report = Абсолютное отклонение от плана равняется 6

Задача 6

In [ ]:
total_1 = float(input(("1 товар")))
total_2 = float(input(("2 товар")))
calculated_total = total_1 + total_2
print (calculated_total)
reported_total = float(input(("сумма итогового чека ")))
print ("is_equal_price =", calculated_total == reported_total)

1 товар0.1
2 товар0.2
0.30000000000000004
сумма итогового чека 0.3
is_equal_price = False

Задача 6

In [ ]:
revenue_str = float(input(("выручка за день -")))
courier_name = input(("Имя курьера -"))
bonus = int(revenue_str * 0.01)
print ("Курьер ", courier_name, "получит бонус ", bonus, "р." )

выручка за день -123456.78
Имя курьера -Ашот
Курьер  Ашот получит бонус  1234 р.

Задача 7

In [22]:
def main():
    numbers = []
    total_sum = 0

    while True:
        try:
          number = float(input("Введите число (или 0 для завершения): "))
        except ValueError:
          print ("введите корректное число")
          continue

        if namber == 0:
            break

        numbers.append(number)
        total_sum += number

    sum_of_squares = sum(x ** 2 for x in numbers)
    print("Сумма квадратов всех введённых чисел:", sum_of_squares)

Ответы по второму варианту

Задание 1

In [ ]:
par_1 = input("ввведите пароль")
par_2 = input("повторите пароль")
if par_1 == par_2:
    print ("пароль принят" )
else:
    print ("пароль не принят")

ввведите пароль1234
повторите пароль1235
пароль не принят

Задание 2

In [ ]:
age = int(input ("ввведите возраст",))
norm = 18
if age <= norm:
    print ("доступ закрыт")
else:
    print ("доступ разрешен")

ввведите возраст12
доступ закрыт

Задание 3

In [ ]:
a = int(input("число 1 -",))
b = int(input("число 2 -",))
if a<b:
    print (a)
else:
    print (b)

число 1 -6
число 2 -2
2

Задание 4

In [ ]:
a = int(input("число 1 -",))
b = int(input("число 2 -",))
c = int(input("число 3 -",))
if a<b<c:
    d=b-a
    e=c-b
if d == e:
    print ("да")
else:
    print ("нет")

число 1 -2
число 2 -3
число 3 -7
нет

Задание 5

In [ ]:
a = int(input("число 1 ",))
b = int(input("число 2 ",))
c = int(input("число 3 ",))
if a>0:
    x=a
else:
    x=0
if b>0:
    y=b
else:
    y=0
if c>0:
    z=c
else:
    z=0
d=x+y+z
print (d)

число 1 -5
число 2 -3
число 3 -2
0

Задание 6

In [ ]:
a = int(input("число 1 ",))
b = int(input("число 2 ",))
c = int(input("число 3 ",))
d = int(input("число 4 ",))
if a<b<c<d:
    print (a)
else:
    if b<a<c<d:
        print (b)
    else:
        if c<a<b<d:
            print (c)
        else:
            if d<a<c<b:
                print (d)

число 1 3
число 2 5
число 3 1
число 4 9
1

In [ ]:
a = int(input("число 1 ",))
b = int(input("число 2 ",))
c = int(input("число 3 ",))
d = int(input("число 4 ",))
if a<b<c<d:
    print (a)
elif b<a<c<d:
    print (b)
elif c<a<b<d:
    print (c)
elif d<a<c<b:
    print (d)

число 1 3
число 2 5
число 3 1
число 4 9
1

Задание 7

In [ ]:
god = int(input("введите год ",))
a = god % 4
b = god % 100
c = god % 400

if (a==0) or (c==0) and (b>0):
    print ("Да")
else:
    print ("Нет")

введите год 2025
Нет

Задание 8

In [ ]:
a = int(input("число 1 ",))
b = int(input("число 2 ",))
c = int(input("число 3 ",))
if a<b<c:
    print (b)
elif b<a<c:
    print (a)
elif a<c<b:
    print (c)

число 1 1
число 2 2
число 3 3
2

Задание 9

In [ ]:
for text in range (10):
    print ("Войти в IT с Python")

Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python

Задание 10

In [ ]:
n = int(input("введите количество строк от 1 до 20 - ",))
if 0<n<21:
    for n in range (n):
        print ("*******************")

введите количество строк от 1 до 20 - 6
*******************
*******************
*******************
*******************
*******************
*******************

Задание 11

In [ ]:
text = str(input ("название ", ))
for num in range (10):
  print (num, text)

название epoche
0 epoche
1 epoche
2 epoche
3 epoche
4 epoche
5 epoche
6 epoche
7 epoche
8 epoche
9 epoche

Задание 13

In [ ]:
n = int(input('число '))
factorial = 1

while n > 1:
    factorial = factorial * n
    n = n - 1

print(factorial)

Введите число: 5
120

In [ ]:
n = int(input ("число ", ))
faktorial=n

for i in range (1, n):
    factorial = factorial*i

print (faktorial)

число 4

NameError: name 'factorial' is not defined

Задание 14

In [ ]:
print("Вводите значение. Для завершения введите стоп.")

word = str (input())

while word != "стоп":
  print (word)
  word = str (input())

Вводите значение. Для завершения введите стоп.
первый
первый
второй
второй
стоп

Задание 15

In [ ]:
print("Вводите числа")
total = 0
cifer = int(input())
while cifer >= 0:
  total += cifer
  cifer = int(input())
print (total)

Вводите числа
5
5
-5
10

Задание 16

In [29]:
def draw_triangle():
  days = 7
  for day in range(1, days + 1):
    print('*' * day)

if __name__ == "__main__":
        draw_triangle()

*
**
***
****
*****
******
*******

Задание 17

In [35]:
def print_fio(name, surname, patronymic):

    fio = (
        surname[0].upper() +
        name[0].upper() +
        patronymic[0].upper()
    )
    print(fio)

surname = input ("введите фамилию -")
name = input ("введите имя -")
patronymic = input ("введите отчество -")

print_fio(name, surname, patronymic)

введите фамилию -Алексей
введите имя -Иванов
введите отчество -Петрович
АИП

Задание 18

In [45]:
def main():
    numbers = []
    total_sum = 0

    while True:
        try:
          number = float(input("Введите число (или 0 для завершения): "))
        except ValueError:
          print ("введите корректное число")
          continue

        if number == 0:
            break

        numbers.append(number)
        total_sum += number
        if total_sum == 0:
           print("Сумма всех введённых чисел равна 0. ")
           break

    sum_of_squares = sum(x ** 2 for x in numbers)
    print("Сумма квадратов всех введённых чисел:", sum_of_squares)

if __name__ == "__main__":
    main()

Введите число (или 0 для завершения): 2
Введите число (или 0 для завершения): 2
Введите число (или 0 для завершения): 2
Введите число (или 0 для завершения): -6
Сумма всех введённых чисел равна 0.
Сумма квадратов всех введённых чисел: 48.0

Задание 19

In [51]:
def convert_to_miles ():
    return (miles * 0.6214)

miles = float(input("введите мили"))

km = round(convert_to_miles (),3)

print ("километры - ", km)

введите мили10
километры -  6.214